version: '3.9'
services:
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: dropspot
      POSTGRES_PASSWORD: dropspot
      POSTGRES_DB: dropspot_db
    ports:
      - "5432:5432"
